{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class='row'>
    <div class='reset_box'>
	    <img src='{% static '3.webp' %}' id='reset_pix'>      
	    <div class='row'>
	        <div class='reset_text'>Memory betrayal?</div>
		<div class='reset_text1'>Enter your email or username for password reset link.</div>
		<form method='post'>
		{% csrf_token %}
		    <input type='text' name='reset' id='re_txt' placeholder='Email or Username' required>
		    <button class="btn waves-effect waves-light blue black-text" type="submit" id='re_btn' name="action">send me link
		    </button>
	        </form>
	    </div>
    </div>
</div>
{% endblock %}
